.heart {
    background-color: red;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate;
    left: 45%; 
    top: 45%;
    width: 50px;
    border: 2px solid red;
    align-items: center;
}

.heart:before,

.heart:after{
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
}

.heart:before{
    top: -25px;
    left: 0;
}

.heart:after {
    left: 25px;
    top: 0;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.25)
            translateX(5%)
            translateY(5%);
    }

    40% {
        transform: scale(1.5)
            translateX(9%)
            translateY(10%);
    }
}

.heart {
    animation: heartbeat 1s infinite; 
}